.top-bar {
    border-top: 2px solid #d02723;
    background-color: #324158;
    width: 100%;
    padding: 0px 20% 0px 20%;
    margin: 0px;
}

.top-bar ul {
    background-color: #324158;
}

.top-bar ul li a {
    color: white;
    font-family: 'Raleway', sans-serif;
}